@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

// Colors
$color_primary: #11A080;
$color_secondary: #565656;
$color_delete: #F54557;
$color_text: #000000;
$color_light_grey: #F9F9F9;
$color_body: #232323;
$color_white: #ffffff;
$color_black: #000000;

$fw: "font-weight";
$ff: "font-family";
$fs: "font-size";
$c: "color";


// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
$base-font-size: 16;


// Font Family
$font_title: 'Lora', serif;
$font_body: 'Poppins',
sans-serif;
// font-family: 'Nunito Sans', sans-serif;